#preloader  {
    background: #ffffff url('../vendor/loading-animation.gif') no-repeat center center;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fff;
     z-index: 99;
     height: 100%;
 }

body {
  background-color: #f1f6f9;
}

.icon-align {
      vertical-align: text-bottom;
 }

#logout_icon {
  align-items:flex-end;
  margin-right: 20px
}

.sidebar.component {
 height: 100%;
 width: 66px;
 background-color: #2b2b2b;
 text-align: center;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 overflow: hidden;
}

#button_profile_sidebar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 20px;
}


.tipo-user {
  width: fit-content;
  color:  #ffffff;
  border-radius: 3px;
  font-size: 13px;
  padding: 4px;
  margin-left: 10px;
}

.studente {
  background-color: #4caf50;
}

.insegnante {
  background-color: #2962ff;
}

.profilo-titolo {
  display: inline-flex;
    align-items: center;
    width: 100%;
}

.profilo-tipo {
  display: inline-flex;
}

.dati-profilo {
  display: inline-flex;
  align-items: center;
}

.dati-profilo p {
  margin-left: 10px;
}

.sidebar-box {
  position: fixed;
  width: 350px;
  margin-top: 20px;
  margin-left: 77px;
  padding: 20px;
  z-index: 1;
  border-radius: 8px;
  background-color: #ffffff;
}

.box-profilo {
  bottom: 0;
  right: 0;
  left: 0;
}

.box-info {
  right: 0;
  left: 0;
}

.upperbar.title {
padding-left: 66px;
font-size: 28px;
margin-left: 20px;
color: #ffffff;
font-weight: 200;
}

.upperbar.component {

 width: 100%;
 height: 66px;
 background-color: #d50000;
 display: inline-flex;
 align-items: center;
 justify-content: space-between;
 position: absolute;
 z-index: 1;
 top: 0;
 left: 0;
}

.main.content {
 position: absolute;
 margin-top: 66px;
 margin-left: 66px;
}

.content.box {
 width: 500px;
 margin-top: 20px;
 margin-left: 47px;

 padding: 20px;
 z-index: 1;
 border-radius: 8px;
 background-color: #ffffff;
 float: left;

}

.content.title {
 font-size: 30px;
 margin-bottom: 5px;
}

.lezione.titolo{
 font-size: 24px;
 font-weight: 300;
 font-family: 'Source Sans Pro', sans-serif;


}
.lezione.description{
 font-weight: 300;
}

.agenda-title {
  margin-bottom: 10px;
}

.box-title {
 margin-bottom: 15px;
 font-size: 30px;
}
.evento {
 width:100%;
 vertical-align:top;
 margin-bottom: 20px;
}

.evento-giorno {
 display:inline-block;
 vertical-align:middle;
 text-align: center;
 height: 48px;
 width: 19%;
 vertical-align: middle;
 line-height: 46px;
 font-size: 23px;
}



.evento-description {
 display:inline-block;
 width:80%;
 vertical-align:middle;
}


.voto {
 width:100%;
 vertical-align:top;
 margin-bottom: 20px;

}

.voto-valutazione {

 display:inline-block;
 vertical-align:middle;
 text-align: center;
 height: 63px;
 width: 63px;
 vertical-align: middle;
 line-height: 46px;
 font-size: 26px;
 border-radius: 100%;
 font-weight: 500;
 margin-right: 15px;
}

.positivo {
 background-color: #4caf50;
}

.negativo {
 background-color: #d50000;
}

.quasi-positivo {
 background-color: #ffc400;
}

.blu {
 background-color: #0080B8;
}

.voto-valutazione h1 {
 color: #ffffff;
 margin-top: 11px;
 font-size: 26px;
 font-family: Poppins-Regular;
 font-weight: 500;
}


.voto-info {
 display:inline-block;
 width:80%;
 vertical-align:middle;
}

.voto-title {
 font-size: 23px;
}

.circle-voto {
  text-align: center;
}

.circle  {
  width: 100px;
margin: 6px 6px 20px;
display: inline-block;
position: relative;
text-align: center;
line-height: 1.2;
}
.circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 26px;
}

.box-medie {
  text-align: center;
}
.box-assenza {
  text-align: center;
}

.box-assenza-info p {
  font-size: 23px;
}

.professore.titolo {
  align-items: center;
  display: inline-flex;
}

.materiale-file {
  align-items: center;
  display: inline-flex;
  margin-left: 13%;
  font-size: 13px;
  margin-top: 5px;
  width: 100%;
}

.materiale.contenuto {
    display: grid;
    margin-left: 30px;
    margin-top: 10px;
}

.materiale.nome {
    margin-left: 10px;
}

.materiale-titolo {
  margin-bottom: 10px;
}
.comunicazione.titolo {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  flex: 1;
  justify-content: space-between;
}

.comunicazione.titolo2 {
  margin-right: 40px;
}

.material-icons.comunicazione-icona  {
    margin-right: 5%;
    font-size: 32px;
    color: #2B2B2B;
    float: right;
}


.cartella-titolo {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 5%;
}

.hidden {
  display: none;
}




@media screen
and (min-device-width : 0px)
and (max-device-width : 394px) {
  .upperbar.title {
    font-size: 23px;
    padding-left: 0;
  }

  .voto {
    text-align: center;
  }
}

@media screen
and (min-device-width : 0px)
and (max-device-width : 700px) {
  #logout_icon {
    display: none;
  }
  .main.content {
    margin-left: 0;
  }
  .content.box {
    width: 93%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .content.box.voti  {
    font-size:20px;
  }

  .voto-valutazione {
    height: 53px;
    width: 53px;
    line-height: normal;
  }

  .voto-valutazione h1 {
    margin-top: 7px;
  }
  .sidebar.component {
    display: none;
  }
  .voto {
    text-align: center;
  }
  .voto-title {
    margin-top: 15px;
    font-size: 17px;
  }
  .voto-description {
    display: none;
  }
}

@media screen
and (min-device-width : 700px)
and (max-device-width : 1098px) {

  .main.content {
    margin-left: 0;
  }
  .content.box {
    width: 93%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .content.box.voti  {
    font-size:20px;
  }

  .voto-valutazione {
    height: 53px;
    width: 53px;
  }

  .voto-valutazione h1 {
    margin-top: 7px;
  }
  .sidebar.component {
    display: none;
  }




}


@media  screen
and (min-device-width : 1110px)
and (max-device-width : 1920px) {

  .content.box.eventi  {
   width: 57%;
  }

  .content.box.lezioni {
    width: 33%;
  }

  .content.box.voti {
    width: 33%;
  }

  .content.box.grafico {
    width: 57%;
  }

  .content.box.assenze {
    width: 33%;
  }

}
